#start-btn
{
    width: 40%;
} 

#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}

#logo_img
{
    width: 150px;
    border-radius: 100px;
}

#textbox
{
    width: 300px;
}

body
{
    background-image: linear-gradient(to right top,rgb(202, 124, 124),rgb(107, 179, 197),rgb(223, 224, 141),rgb(95, 231, 152));
}